html{
    font-family: 'Cabin Sketch', cursive;
    background-color: #0E4595;
}
a{
    text-decoration: none;
    font-family: Helvetica, sans-serif;
    color: inherit
}
body{
    margin: 0;
    padding: 0;
}
button{
    background-color: #0E4595;
    color: white;
    padding: .25rem 1rem .25rem 1rem;
    border: none;
    border-radius: 5%;
}
h1{
    margin: 0;
    color: #0E4595;
}
h2{
    color: white;
    font-size: 96px;
    margin: 0;
}
h3{
    font-size: 3vw;
}
.imgflex{
    
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
nav{
    height: 6vh;
    margin: 0;
    padding:0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;

}
.blank2{
    width: 2vw;
}
.textCon{
    padding: 0 5vw 0 5vw;
}
.flexCon{
    display: flex;
}
.teamImage{
    padding-top: 10vh;
    width: 20vw;
}
.flex2{
    display: flex;
    flex-direction: column;
    color: white;
    font: 48px;
    justify-content: center;
    font-family: Helvetica, sans-serif;
}
#blue{
    background-color: #0E4595;
    margin: 0;
    padding-top: 5vh;
    height: 80vh;
}
#blank{
    width: 35%;
}

#gear{
    width: 30vw;
    height: 30vw;
    padding-top: 5vw;
}

@media (max-width: 1024px){
    #gear{
        display: none;
    }
}
@media (max-width: 1024px){
    h2{
        font-size: 86px;
    }
    h3{
        font-size: 28px;
    }
    .teamImage{
        width: 40vw;
    }
    
}
@media (max-width: 500px){
   #blank{
       width: 3vw;
   }
   #blue{
    height: inherit;
}
    h3{
    font-size: 48px;
    }
    .temp{
        display: none;
    }
    .teamImage{
        width: 80vw;
    }

}
